{% extends "layouts/logged.twig" %}

{% block scripts %}
<script type="text/javascript" data-main='assets/js/home.js' src="components/requirejs/require.js"></script>
{% endblock %}

{% block content %}
    <h2>Mis juegos</h2>
    <div id="main"></div>
    

{% verbatim %}
<script id="games-template" type="text/x-handelbars-template">

    {{#each this}}
    <div class="row" style="margin-top:10px;">
        {{#if is_pack}}
            <h4>{{name}}</h4>
            {{#each packItems}}
            <img class="" src="{{bgg_img}}" />
            {{/each}}
        {{else}}
        
        <div class="col-md-2">
            <img class="" src="{{bgg_img}}" />
        </div>
        <div class="col-md-10" style="position:relative; min-height:175px;">
            <h4 data-id="{{item_id}}">{{name}}</h4>
            <p>{{description}}</p>
            <button data-toggle-mt="{{id}}" class="btn">{{#if inMT}}Quitar de la MT{{else}}Añadir a la MT{{/if}}</button>
        </div>
        {{/if}}
    </div>
    {{/each}}

</script>
{% endverbatim %}



<script type="text/javascript">
    var games = JSON.parse('{{ games|raw }}');  
</script>
{% endblock %}
